
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #56cfe1;
  --black: #181925;
  --blackLighter: #8D99AE;
  --grayLight: #EDF2F4;
  --grayMedium: #EDF2F4;
  --white: #EDF2F4;
  --frontEnd: #5e60ce;
  --backEnd:  #5390D9;  
}

html, body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
